asgiref==3.2.7
Django==3.0.6
django-filer==1.7.1
django-js-asset==1.2.2
django-libs==2.0.3
django-mathfilters==1.0.0
django-mptt==0.11.0
django-polymorphic==2.1.2
django-python3-ldap==0.11.3
easy-thumbnails==2.7
ldap3==2.7
Pillow==7.1.2
pyasn1==0.4.8
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
Unidecode==1.1.1
